In [1]:
import pandas as pd
import sqlite3
import numpy

In [2]:
conn = sqlite3.connect("db_griad.sqlite3")
conn

## Creating DB

In [3]:
cursor = conn.cursor()
#cursor.execute("DROP TABLE IF EXISTS invite")

sql = '''CREATE TABLE invite(
   id INTEGER PRIMARY KEY AUTOINCREMENT,
   email TEXT,
   nom TEXT,
   prenom TEXT,
   plus1 INT,
   email_plus1 TEXT,
   nom_plus1 TEXT,
   prenom_plus1 TEXT,
   regime TEXT
)'''
          
cursor.execute(sql)

OperationalError: table invite already exists

In [73]:
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS invite_plus_1")

sql = '''CREATE TABLE invite_plus_1(
   id INTEGER PRIMARY KEY AUTOINCREMENT,
   email TEXT,
   first_name TEXT,
   last_name TEXT,
   invite_by INT
)'''
          
cursor.execute(sql)

## Inspecting db

In [81]:
df = pd.read_sql_query("SELECT * from invite", conn)
df =df.set_index('id')
df

,email,nom,prenom,plus1,email_plus1,nom_plus1,prenom_plus1
id,,,,,,,
1,clement.houzard@gmail.com,Houzard,Clément,True,clement.houzard@gmail.com,Houzard,Clément

In [35]:
df2 = pd.read_sql_query("SELECT * from invite_plus_1", conn)
df2 =df.set_index('id')
df2

Empty DataFrame
Columns: [email, first_name, last_name, invite_by]
Index: []

## Deleting line

In [56]:
print(df.index)
#df = df.drop(index=1, axis=1)
df = df.iloc[0:0:]
df

Index([None, None], dtype='object', name='id')

Empty DataFrame
Columns: [email, nom, prenom, plus1, email_plus1, nom_plus1, prenom_plus1]
Index: []

In [57]:
df.to_sql("invite", conn, if_exists="replace")

## Closing

In [42]:
conn.close()

In [66]:
import pandas as pd
import sqlite3
import numpy

conn = sqlite3.connect("db_griad.sqlite3")

df = pd.read_sql_query("SELECT * from invite", conn)
df =df.set_index('id')
df = df.iloc[0:0:]
df.to_sql("invite", conn, if_exists="replace")
conn.close()