In [37]:
import pandas as pd
import sqlite3

In [38]:
conn = sqlite3.connect("db_griad.sqlite3")
conn

## Creating DB

In [32]:
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS invite")

sql = '''CREATE TABLE invite(
   id INTEGER PRIMARY KEY AUTOINCREMENT,
   email TEXT,
   nom TEXT,
   prenom TEXT,
   plus1 INT,
   email_plus1 TEXT,
   nom_plus1 TEXT,
   prenom_plus1 TEXT
)'''
          
cursor.execute(sql)

In [33]:
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS invite_plus_1")

sql = '''CREATE TABLE invite_plus_1(
   id INTEGER PRIMARY KEY AUTOINCREMENT,
   email TEXT,
   first_name TEXT,
   last_name TEXT,
   invite_by INT
)'''
          
cursor.execute(sql)

## Inspecting db

In [39]:
df = pd.read_sql_query("SELECT * from invite", conn)
df =df.set_index('id')
df

,email,nom,prenom,plus1,email_plus1,nom_plus1,prenom_plus1
id,,,,,,,
1,clement.houzard@gmail.com,Hh,Clément,None,clement.houzard@michelin.com,Houzard,Clément

In [35]:
df2 = pd.read_sql_query("SELECT * from invite_plus_1", conn)
df2 =df.set_index('id')
df2

Empty DataFrame
Columns: [email, first_name, last_name, invite_by]
Index: []

## Deleting line

## Closing

In [36]:
conn.close()